.nav-menu {
  display: none;
}

.hamburger-menu {
  margin: 2rem 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 1.3rem;
  width: 2rem;
  cursor: pointer;
}
.bar-top,
.bar-middle,
.bar-bottom {
  height: 3px;
  background: #6cffca;
  border-radius: 5px;
  margin: 1px 0;
  transform-origin: left;
  transition: all 0.5s;
}
.hamburger-menu:hover .bar-top {
  transform: rotate(45deg);
}
.hamburger-menu:hover .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}
.hamburger-menu:hover .bar-bottom {
  transform: rotate(-45deg);
}

.homepage-socials {
  top: 50%;
  right: 1rem;
}
.homepage-container {
  max-width: 100%;
  padding-left: 2rem;
}

.homepage-left-container .kizuki-heading h1 {
  font-size: 3rem;
}

.homepage-left-container p {
  font-size: 0.7rem;
}
.homepage-left-container .header-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage-left-container .header-btns button {
  margin-top: 1rem;
  min-width: 20rem;
}
.homepage-left-container .header-btns .cta1 {
  margin-right: 0;
}

.homepage-left-container .header-btns .cta2 {
  margin-right: 0;
}

.nft-slider img:nth-child(1) {
  left: -40vw;
  top: 0rem;
  max-width: 35vw;
}

.nft-slider img:nth-child(2) {
  z-index: 2;
  top: 8%;
  left: -22vw;
  max-width: 45vw;
}

.nft-slider img:nth-child(3) {
  left: 9vw;
  top: 0rem;
  max-width: 35vw;
}

.binance-promo {
  padding: 0.7rem 0;
  font-size: 0.7rem;
}
.binance-promo img {
  max-width: 1rem;
}

.benefits-heading {
  width: 80%;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.benefits-heading img {
  width: 60vw;
}
.benefits-img {
  display: none;
}

.benefits-info {
  color: white;
  max-width: 100%;
  font-family: "BOOKFont";
}
.benefits-section {
  max-width: 100%;
  margin: 2rem;
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 1rem;
}

.benefits-info p {
  font-size: 0.8rem;
  margin-left: 1rem;
  text-indent: -1.7rem;
}

#cardSlider {
  margin-top: 0rem;
  padding: 3rem 0;
  padding-bottom: 5rem;
}
.top-slider-img,
.bottom-slider-img {
  min-width: 7rem;
  margin-right: 1rem;
}
.bottom-slider-img {
  margin-top: 1rem;
}
.roadmap-heading {
  padding-bottom: 2rem;
  padding-top: 0;
  display: flex;
  justify-content: center;
}

#roadmap {
  background-image: none;
}
.roadmap-heading img {
  width: 55vw;
}
.join-info {
  padding: 0 2rem;
}

.joining-social {
  display: none;
}

.join-info {
  padding-bottom: 0;
}
.faq-heading svg {
  max-width: 100%;
  margin-left: 2rem;
}

#faq-secion {
  min-width: 85%;
}

.card-header div {
  font-size: 0.8rem;
}
.card-body {
  font-size: 0.8rem;
}
.copyright {
  font-size: 0.7rem;
  padding: 0.5 0;
}
.contact-form {
  padding-top: 5rem;
}

.joining-social-mobo {
  display: flex;
  color: black;
  margin-top: 3rem;
}

.joining-social-mobo i {
  color: #0a110c;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 50%;
  padding: 0.7rem;
  margin: 10px;
  cursor: pointer;
}

.joining-social-mobo i:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.quote-container div {
  font-size: 0.7rem;
}

.join-info {
  max-height: 25rem;
}

.join-container .monk-img {
  display: none;
}
.join-info img {
  min-width: 12rem;
  margin-left: 10rem;
}

.monk-mobo {
  position: absolute;
  top: -12.2rem;
  left: -10rem;
}
.join-info {
  background-color: #1fe59e;
  margin-right: 0;
  padding: 3rem 0;
  padding-top: 4rem;
}
.monk-mobo {
  display: flex;
}
