//Global Stylings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a110c;
  overflow-x: hidden;
}

.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

//Fonts
@font-face {
  src: url(../fonts/GothamMedium.woff);
  font-family: "primaryFont";
}
@font-face {
  src: url(../fonts/GOTHAMLIGHT.woff);
  font-family: "secondaryFont";
}
@font-face {
  src: url(../fonts/GOTHAMBOOK.woff);
  font-family: "BOOKFont";
}
@font-face {
  src: url(../fonts/GOTHAMBLACK.woff);
  font-family: "BLACKFont";
}
$base-bg: #0a110c;
$primaryGreen: #1fe59e;
