#join-Us {
  min-height: 100vh;
  position: relative;
  font-family: "primaryFont";
}

.monkBG {
  position: absolute;
  bottom: 0;
  background-color: #1fe59e;
  min-height: 45rem;
  min-width: 100%;
  z-index: -2;
}

.join-container {
  display: flex;
  color: white;
  justify-content: space-between;
  padding-bottom: 4rem;
  .monk-img {
    position: absolute;
    left: 0;
    bottom: 0;
    img {
      width: 50vw;
    }
  }
}
.join-info {
  margin-right: 15vw;
  padding-top: 5rem;
  margin-top: 25rem;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  img {
    max-width: 20vw;
  }
  .quote-container {
    letter-spacing: -0.07em;
    position: relative;
    background-color: #0a110c;
    min-width: 40rem;
    padding: 1.5rem 3rem 3rem 2rem;
    border-radius: 0 7px 3rem 7px;
    font-size: 1.1rem;

    div {
      &:nth-child(1) {
        color: #b3b3b3;
        font-weight: bold;
        font-family: "secondaryFont";
      }
      &:nth-child(2) {
        font-family: "secondaryFont";
        color: white;
        font-weight: bold;
      }
    }
  }
  .question {
    font-family: "BOOKFont";
    font-style: normal;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    background-color: white;
    color: black;
    padding: 1rem;
    padding-right: 4rem;
    padding-left: 2rem;
    border-radius: 0 5px 1.5rem 5px;
    font-size: 1.2rem;
    strong {
      letter-spacing: -0.06em;
      font-family: "BLACKFont";
      font-weight: 700;
    }
  }
}

.joining-social {
  margin-top: 5rem;
  a {
    button {
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      border-radius: 3rem;
      margin-right: 2rem;
      min-width: 10rem;
      background-color: #0a110c;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
.join-discord {
  &::before {
    color: #1fe59e;
    font-family: "Font Awesome 5 Brands";

    content: "\f392";
    margin-right: 1rem;
  }
}
.join-instagram {
  &::before {
    color: #1fe59e;
    font-family: "Font Awesome 5 Brands";

    content: "\f16d";
    margin-right: 1rem;
  }
}
.join-twitter {
  &::before {
    color: #1fe59e;
    font-family: "Font Awesome 5 Brands";

    content: "\f099";
    margin-right: 1rem;
  }
}
.joining-social-mobo {
  display: none;
}

.monk-mobo {
  display: none;
}
